{namespace s=TYPO3\Semantic\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<f:flashMessages/>
	<f:render section="contenttable" arguments="{results: results}"/>
</f:section>

<f:section name="raw">
	<f:for each="{results}" as="result">
		<f:for each="{result}" as="variable">
			{variable.value}<br/>
		</f:for>
	</f:for>
</f:section>


<f:section name="plainlist">
	<ol>
		<f:for each="{results}" as="result">
			<li><ul>
				<f:for each="{result}" as="variable">
					<li>
						{variable.value}
					</li>
				</f:for>
			</ul>
			</li>
		</f:for>
	</ol>
</f:section>

<f:section name="plaintable">
	<table>
		<f:for each="{results}" as="result">
			<tr>
				<f:for each="{result}" as="variable">
					<td>
						{variable.value}
					</td>
				</f:for>
			</tr>
		</f:for>
	</table>
</f:section>

<f:section name="contenttable">
<table class="contenttable contenttable-3">
<tr class="tr-even tr-0">
	<f:for each="{results.variables}" as="variable">
		<td>
			<f:translate id="{variable}" value="{variable->s:humanize()}"/>
		</td>
	</f:for>
</tr>

<f:if condition="{settings.paginate}">
	<f:then>
		<f:widget.paginate objects="{results}" as="paginatedResults">
			<f:for each="{paginatedResults}" as="result">
				<f:cycle values="{0: 'odd', 1: 'even'}" as="zebra">
					<tr class="tr-{zebra}">
						<f:for each="{result}" as="variable">
							<td>
								<f:if condition="{variable->s:isOf(type: 'uri')}">
									<f:then>
										<f:link.external uri="{variable.value}">
											{variable.value}
										</f:link.external>
									</f:then>
									<f:else>
										{variable.value}
									</f:else>
								</f:if>
							</td>
						</f:for>
					</tr>
				</f:cycle>
			</f:for>
		</f:widget.paginate>
	</f:then>
	<f:else>
		<f:for each="{results}" as="result">
			<f:cycle values="{0: 'odd', 1: 'even'}" as="zebra">
				<tr class="tr-{zebra}">
					<f:for each="{result}" as="variable">
						<td>
							<f:if condition="{variable->s:isOf(type: 'uri')}">
								<f:then>
									<f:link.external uri="{variable.value}">
										{variable.value}
									</f:link.external>
								</f:then>
								<f:else>
									{variable.value}
								</f:else>
							</f:if>
						</td>
					</f:for>
				</tr>
			</f:cycle>
		</f:for>
	</f:else>
</f:if>
</table>
</f:section>